*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0a192f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color:#a8b2d1;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    transition: 0.2s ease;
}

.container {
    width: 380px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text::selection {
    color:#000;
    background: #64ffda;
}