*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0a192f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: #a8b2d1;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

input {
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    width:250px;
    padding: 10px;
    cursor:pointer;
    margin:10px 0;
    background-color: transparent;
    width: 70%;
    border:1px solid #a8b2d1;
    color: #64ffda;
  }
input:focus {
    border:1px solid #64ffda;
    outline: none !important;
  }
input[type="submit"] {
    background-color: rgba(100, 255, 218, 0.5);
}

span {
    color:#64ffda;
}
  .container {
    background-color: transparent;
    padding: 40px;
    width:30%;
    border-radius:10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

